:root {
  --primary-color: rgb(38, 25, 17);
  --secondary-color: rgb(102, 74, 50);
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-color: rgb(249, 246, 239);
  --accent-color: rgb(191, 175, 160);
  --primary-font: font-family: 'Quattrocento', serif;
  --secondary-font:font-family: 'Quattrocento Sans', sans-serif;
}

body {
  background:  white;
  /* padding-top: 80px; */
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--primary-font);
  text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 80px;
    color: var(--primary-color)
}

h2 {
    font-size: 25px;
    color: var(--secondary-color)
}



p {
  font-family: var(--secondary-font);
}

.hero {
    background: var(--background-color);
    padding: 180px 25px;
    line-height: 2em;
}

.hero p {
  font-size: 20px;
  color: var(--accent-color)
}

.button {
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--accent-color);
    font-family: var(--primary-font);
    padding: 20px;
    font-size: 15px;
}
.featured-projects {
    color: var(--secondary-color);
    padding-top: 30px;
}
.project {
    padding: 20px 80px;
    text-align: left;
}
.row h2{
  text-align: left;
}
.row {
  padding-top: 50px;
}
.button-project {
    border-radius: 5px;
    border-color: var(--accent-color);
    color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 20px;
    font-size: 15px;
}
